.footer{
    background-color: rgb(17, 16, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    list-style-type: none;
    color: white;
}

.footer .links{
    margin: 0 10px;
    color: white;
}

.footer .links .ls{
    margin: 10px;
    text-decoration: none;
    color: white;
}

.footer .links .ls:hover{
    color: blue;
}